* {
  font-family: "Poppins", sans-serif; }

.nav-title {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif; }
  .nav-title:hover {
    color: #b3b3b3; }

header {
  background-color: #365c9a !important;
  position: fixed;
  z-index: 10; }

.nav-item {
  padding: 0 30px; }
  .nav-item a {
    font-size: 13.6px;
    font-weight: 500;
    color: white !important;
    padding: 0 100px; }

.social-links .link {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 50%; }

.sec1 {
  background-image: linear-gradient(to right, #00ac6d 0%, #00ac6d 30%, #4eb1c2 30%, #4e84c2 100%);
  overflow: hidden !important; }

.cont h4 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }
  .cont h4 span {
    font-weight: 100; }
.cont h1 {
  font-size: 51.2px;
  font-weight: 700;
  text-align: left;
  font-family: "Poppins", sans-serif; }
.cont a {
  background-color: white;
  padding: 13px 25px;
  border-radius: 30px;
  font-size: 13.6px;
  font-weight: 500;
  color: #333333; }
  .cont a:hover {
    text-decoration: none; }

.shoessec {
  padding: 80px 20px; }
  .shoessec .bestseller {
    color: #232323;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif; }
  .shoessec .sell {
    background-color: #efefef; }
    .shoessec .sell h4 {
      font-weight: 700;
      font-size: 1rem; }

.paralax-content {
  padding: 100px; }
  .paralax-content h1 {
    color: #232323;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif; }
  .paralax-content p {
    font-size: 16px;
    font-weight: 700; }
  .paralax-content h6 {
    color: #365c9a;
    font-size: 16px;
    font-weight: 400; }

.parallax-window {
  position: relative;
  z-index: 1; }

.parallax-window::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: .5;
  z-index: -1; }

.play-btn {
  background: #365c9a;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  line-height: 60px;
  font-size: 16.6px; }

.overlay {
  position: relative;
  overflow: hidden; }

.overlay::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .6s; }

.overlay:hover::before {
  opacity: .4;
  transition: .6s; }

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  transition: .6s; }
  .overlay-content h3 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif; }
  .overlay-content p {
    color: #fff;
    font-size: 16px;
    opacity: 0; }
  .overlay-content a {
    padding: 13px;
    background-color: #e96188 !important;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-size: 13px;
    margin-top: 10px; }

.overlay:hover > .overlay-content {
  transform: translateY(0);
  transition: .6s; }

.overlay:hover > .overlay-content p {
  opacity: 1;
  transition: .3s; }

.sec5 {
  background-color: #4e84c2;
  padding: 75px 0; }
  .sec5 h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif; }
  .sec5 h3 {
    color: #efefef;
    font-size: 16px;
    font-weight: 300; }
  .sec5 h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-transform: none;
    letter-spacing: -2px;
    word-spacing: 0;
    line-height: 1.3;
    color: #ffffff;
    text-align: center; }
  .sec5 .text {
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff; }

.count {
  padding: 20px 120px; }

.tabletitle {
  padding: 70px 0; }
  .tabletitle h3 {
    color: #767676;
    font-size: 16px;
    font-weight: 400; }
  .tabletitle h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #232323; }

table thead th {
  padding: 20px 10px !important;
  border-bottom: 1px solid #000 !important; }
table td {
  padding: 20px 10px !important;
  border-top: 2px solid #000 !important; }
table tr {
  border-bottom: 2px solid #000; }
  table tr:hover {
    background-color: #92b5d5 !important; }

.table1-bg {
  background-image: url(../images/table1-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: 1; }
  .table1-bg p {
    color: #767676;
    font-size: 16px;
    font-weight: 400; }

.table1-bg::before, .table2-bg::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: .9;
  z-index: -1;
  top: 0;
  left: 0; }

.table2-bg {
  background-image: url(../images/table2-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: 1; }

.emp {
  padding: 70px 0; }
  .emp h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif; }
  .emp h3 {
    color: #767676;
    font-size: 16px;
    font-weight: 400; }

.image-overlay h4 {
  color: #232323;
  font-size: 16px;
  font-weight: 700; }
.image-overlay h5 {
  color: #365c9a;
  font-size: 13.6px;
  font-weight: 300; }
.image-overlay p {
  color: #767676;
  font-size: 16px;
  font-weight: 400; }

.image-layer {
  position: relative; }
  .image-layer .img-part {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, #232323);
    opacity: 0;
    transition: .4s;
    cursor: pointer; }
    .image-layer .img-part:hover {
      opacity: 1;
      transition: .4s; }

.sociallink {
  position: absolute;
  bottom: 20px; }
  .sociallink .link {
    text-align: center;
    color: white;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    float: left;
    margin-right: 10px;
    transition: .3s; }
    .sociallink .link:hover {
      color: #e96188;
      border-color: #e96188;
      transition: .3s; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .cont h1 {
    font-size: 40px;
    padding: 30px 0;
    line-height: 60px; }

  .sec1 {
    background-image: linear-gradient(#4e84c2, #4e84c2); }

  .paralax-content {
    padding: 50px 0; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .sec1 {
    background-image: linear-gradient(#4e84c2, #4e84c2); }

  .nav-title {
    font-size: 18px; }

  .cont {
    padding: 0 !important;
    text-align: center; }
    .cont h1 {
      font-size: 30px;
      text-align: center; }

  .main {
    align-items: none !important;
    padding: 150px 0; }

  .img {
    margin-bottom: 25px; }

  .paralax-content {
    padding: 50px 0; }
    .paralax-content h1 {
      font-size: 24px; }

  .overlay-content h3 {
    font-size: 20px; }
  .overlay-content p {
    font-size: 14px; }

  .count {
    padding: 20px; } }

/*# sourceMappingURL=style.css.map */
